.toast {
  position: fixed;
  top: 25px;
  right: -350px;

  min-width: 280px;
  max-width: 350px;

  padding: 14px 18px;

  border-radius: 10px;

  color: white;

  font-weight: 600;

  transition: 0.35s ease;

  z-index: 9999;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.toast.show {
  right: 25px;
}

.toast.success {
  background: #2e7d32;
}

.toast.error {
  background: #c62828;
}

.toast.warning {
  background: #f9a825;
}

.toast.info {
  background: #1565c0;
}
